.button-submit {
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;

  &.primary {
    color: ghostwhite;
    background-color: #E8712C;

    &:hover {
      background-color: #863E32;
    }
  }

  &.secondary {
    color: #333;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 1px inset;

    &:hover {
      background-color: #d4d2d2;
    }
  }

  &.small {
    font-size: 12px;
    padding: 10px 16px;
  }
  &.medium {
    font-size: 14px;
    padding: 11px 20px;
  }
  &.large {
    font-size: 16px;
    padding: 12px 24px;
  }
}
